@using AppBlazor.Data.Services
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@inject ThemeService themeService
@rendermode InteractiveServer


<div>
    <h3>Configuration</h3>
    <div style="margin: 5px;">
        <button class="btn btn-outline-info" @onclick="changeTheme">@(theme == "" ? "🔆": "🌙")</button>
    </div>
</div>

@code {
    [Inject]
    public ThemeContainer? themeContainer { get; set; }
    [Inject]
    public NavigationManager? navManager { get; set; }
    public string theme = "";

    protected async override Task OnInitializedAsync()
    {
        theme = themeContainer.theme;
    }
    public void changeTheme()
    {
        themeContainer.changeTheme();
        theme = themeContainer.theme;
        navManager.Refresh();
    }


}