#recipe-card {
        transition: 0.5s;
}

#recipe-card:hover {
        transform: translateY(-5px) scale(1.03);
        box-shadow: 0 12px 20px rgba(0,0,0,0.25);
}

h3 {
        color: var(--texto);
}
